# see clip/config/config.yaml for more option

app:
  host: 0.0.0.0
  port: 5004
  debug: true

clipService:
    address: localhost:5002


postgresql:
  host        : 127.0.0.1
  port        : 5432
  username    : justin
  db          : clip
  password    : justin
  debug       : true
  maxIdleConns: 10
  maxOpenConns: 100

